@model Bc.CashFlow.Web.Models.Account.AccountDetailsViewModel
@{
    ViewData["Title"] = "Conta";
}
<h1>@ViewData["Title"]</h1>

<p>Página de gestão de conta</p>

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9">@Model.Account.Id</dd>

            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">@Model.Account.Name</dd>

            <dt class="col-sm-3">User</dt>
            <dd class="col-sm-9">@Model.Account.UserId</dd>

            <dt class="col-sm-3">Account type</dt>
            <dd class="col-sm-9">@Model.Account.AccountTypeId</dd>

            <dt class="col-sm-3">Current balance</dt>
            <dd class="col-sm-9">@($"{Model.Account.CurrentBalance:C2}")</dd>

            <dt class="col-sm-3">Balance last update</dt>
            <dd class="col-sm-9">@($"{Model.Account.BalanceUpdatedAt:yyyy-MM-dd HH:mm:ss}")</dd>

            <dt class="col-sm-3">Initial balance</dt>
            <dd class="col-sm-9">@($"{Model.Account.InitialBalance:C2}")</dd>

            <dt class="col-sm-3">Created at</dt>
            <dd class="col-sm-9">@($"{Model.Account.CreatedAt:yyyy-MM-dd HH:mm:ss}")</dd>
        </dl>

        <a asp-controller="Accounts" asp-action="Index" class="btn btn-secondary mt-4">Lista de transações</a>
    </div>
</div>
